<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace  = "com.solvd.navigationapp.daos.IDriverDAO">
    <resultMap id = "DriverResultMap" type = "com.solvd.navigationapp.models.Driver" autoMapping = "false" >
        <id column = "ID" property = "id" />
        <result column = "FIRST_NAME" property = "firstName"/>
        <result column = "LAST_NAME" property = "lastName"/>
        <result column = "PHONE_NUMBER" property = "phoneNumber"/>
        <result column = "USER_TYPE" property = "userType"/>
        <result column = "LICENSE_ID" property = "licenseId"/>
    </resultMap>

    <select id ="getById" resultMap = "DriverResultMap">
            SELECT ID, FIRST_NAME, LAST_NAME, PHONE_NUMBER, LICENSE_ID
            FROM Drivers 
            WHERE ID = #{id} and USER_TYPE = "DRIVER"
    </select>

    <select id ="getByLicenseId" resultMap = "DriverResultMap">
            SELECT ID, FIRST_NAME, LAST_NAME, PHONE_NUMBER, LICENSE_ID
            FROM Drivers 
            WHERE LICENSE_ID = #{licenseId}
    </select>

    <select id ="getByFullName" resultMap = "ResultMap">
            SELECT ID, FIRST_NAME, LAST_NAME, PHONE_NUMBER, LICENSE_ID
            FROM Drivers 
            WHERE FIRST_NAME = #{firstName} AND LAST_NAME = #{lastName} AND USER_TYPE ="DRIVER"
    </select>

    <insert id="save" parameterType="com.solvd.socialnetwork.models.Driver" useGeneratedKeys="true" keyProperty="id">
            INSERT INTO Driver (FIRST_NAME, LAST_NAME, PHONE_NUMBER, LICENSE_ID, USER_TYPE)
            VALUES (#{firstName}, #{lastName}, #{phoneNumber}, #{licenseId}, #{userType})   
    </insert>

    <update id="update" parameterType="com.solvd.socialnetwork.models.Drivers">
            UPDATE Driver
            SET FIRST_NAME = #{firstName}, LAST_NAME = #{lastName}, PHONE_NUMBER = #{phoneNumber}, LICENSE_ID = #{licenseId}, USER_TYPE = #{userType}
            WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="int">
            DELETE FROM Driver WHERE ID = #{id}
    </delete>
</mapper>