<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.solvd.navigationapp.daos.ILicenseDAO">
    <resultMap id = "LicenseResultMap" type = "com.solvd.navigationapp.models.License" autoMapping = "false">
        <id column = "ID" property= "id"/>
        <result column = "NUMBER" property = "number"/>
        <result column = "EXPIRATION_DATE" property = "expirationDate"/>
    </resultMap>

    <select id ="getById" resultMap = "LicenseResultMap">
        SELECT * FROM Licenses WHERE ID = #{id}
    </select>

    <select id="getByNumber" resultMap="LicenseResultMap">
        SELECT * FROM Licenses WHERE NUMBER = #{number}
    </select>

    <select id="getExpiredLicenses" resultMap="LicenseResultMap">
        SELECT * FROM Licenses WHERE EXPIRATION_DATE < CURDATE();
    </select>

    <select id="getValidLicenses" resultMap="LicenseResultMap">
        SELECT * FROM Licenses WHERE EXPIRATION_DATE >= CURDATE();
    </select>

    <insert id="save" parameterType="com.solvd.socialnetwork.models.License" useGeneratedKeys="true" keyProperty="id">
            INSERT INTO Licenses (NUMBER, EXPIRATION_DATE)
            VALUES (#{number}, #{expirationDate})   
    </insert>

    <update id="update" parameterType="com.solvd.socialnetwork.models.License">
            UPDATE Licenses
            SET NUMBER = #{number}, EXPIRATION_DATE = #{expirationDate}
            WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="int">
            DELETE FROM Licenses WHERE ID = #{id}
    </delete>

</mapper>