<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.solvd.navigationapp.daos.ILocationDAO">
    <resultMap id = "LocationResultMap" type = "com.solvd.navigationapp.models.Location" autoMapping = "false">
        <id column = "ID" property= "id"/>
        <result column = "NAME" property = "name"/>
        <result column = "CITY_ID" property = "cityId"/>
        <result column = "ADDRESS" property = "address"/>
        <result column = "TYPE" property =  "type"/>
    </resultMap>

    <select id ="getById" resultMap = "LocationResultMap">
        SELECT * FROM Locations WHERE ID = #{id}
    </select>

    <select id="getByCityId" resultMap="LocationResultMap">
        SELECT * FROM Locations WHERE CITY_ID = #{cityId}
    </select>

    <select id="getByName" resultMap="LocationResultMap">
        SELECT * FROM Locations WHERE NAME = #{name}
    </select>

    <select id="getByAddress" resultMap="LocationResultMap">
        SELECT * FROM Locations WHERE ADDRESS = #{address}
    </select>

    <select id="getByType" resultMap="LocationResultMap">
        SELECT * FROM Locations WHERE TYPE = #{type}
    </select>

    <insert id="save" parameterType="com.solvd.navigationapp.models.Location" useGeneratedKeys="true" keyProperty="id">
            INSERT INTO Locations (NAME, CITY_ID, ADDRESS, TYPE)
            VALUES (#{name}, #{cityId}, #{address}, #{type})   
    </insert>

    <update id="update" parameterType="com.solvd.navigationapp.models.Location">
            UPDATE Locations
            SET NAME = #{name}, CITY_ID = #{cityId}, ADDRESS = #{address}, TYPE = #{type}
            WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="int">
            DELETE FROM Locations WHERE ID = #{id}
    </delete>
</mapper>